<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.github.cneftali" level="INFO" />
        <Logger name="org.springframework" level="ERROR" />
        <Logger name="org.springframework.boot" level="ERROR" />
        <Logger name="org.springframework.batch" level="ERROR" />
        <Logger name="org.springframework.batch.core.launch.support" level="ERROR"/>
        <Logger name="org.springframework.integration" level="ERROR"/>
        <Root level="ERROR">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>